project_id            = "your-gcp-project-id"
authorized_user_email = "you@example.com"
region                = "europe-west3"
container_image       = "europe-west3-docker.pkg.dev/platform-POSTFIX/docker-POSTFIX/wheel-of-meeting:latest"
cloud_run_sa_email    = "wheel-of-meeting-run-sa@your-gcp-project-id.iam.gserviceaccount.com"
